<input type="file" id="file" class="inputfile" (change)="selectFile($event)"/>
<label for="file" class="btn btn-danger box">
    <span class="fa fa-upload"></span>
    <span><strong>&nbsp;&nbsp;{{ fileName }}</strong></span>
</label>

